div#chatter(md-theme='chatter', layout='row', md-theme-watch, flex)
	//- Sidebar
	chatter-sidebar(layout='column',
		ng-if='socketFetched',
		model='sidebar')

	//- Main content
	md-content(layout='column', flex)
		md-card(md-colors="::{backgroundColor: 'primary-700'}",
			ng-if='!tabs && welcomeMsgOpen')
			md-card-title
				md-card-title-text
					span.md-headline Welcome to Chatter
			md-card-content
				p
					| Click on a chat room on the left to join or create your own.
			md-card-actions(layout="row" layout-align="end center")
				md-button.md-icon-button(ng-click='closeWelcomeMsg()')
					md-icon(md-font-library='material-icons')
						| close

		div(ng-if='tabs.length > 0', layout='column', flex)
			md-tabs#chatterTabs(md-border-bottom,
				md-swipe-content=true,
				md-autoselect=true,
				flex)
				md-tab(ng-repeat='tab in tabs', md-on-select='selectTab(tab)')
					md-tab-label
						span(md-colors="{color:'default-primary-50'}")
							| {{ tab.name }}
					md-tab-body
						md-list(flex)
							md-list-item.md-2-line.md-long-text.no-margin(ng-repeat='message in tab.messages')
								img.md-avatar(ng-src='{{message.imageUrl}}', alt='{{message.username}}')
								.md-list-item-text(layout='column')
									h3 {{message.username}}
									p {{message.text}}
						//- Menu FAB
						md-fab-speed-dial.md-fling.md-fab-bottom-right(md-direction='up')
							md-fab-trigger
								md-button.md-fab(aria-label='Add...')
									md-icon(md-font-library='material-icons')
										| menu
							md-fab-actions
								md-button.md-fab.md-mini(aria-label='Add User')
									md-icon(md-font-library='material-icons')
										| menu
								md-button.md-fab.md-mini(aria-label='Add Group')
									md-icon(md-font-library='material-icons')
										| menu
						//- md-button.md-fab.md-fab-bottom-right(aria-label='Menu', ng-click='rooms.create()')
						//- 	md-icon(md-font-library='material-icons')
						//- 		| menu
			chatter-messenger(model='messenger')