doctype html
html(lang='en')
	head
		title(ng-bind="'Frank Yu - ' + pageTitle")
			| Frank Yu - Personal Website
		link(href='/js/lib/angular-material/angular-material.min.css',
			rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic',
			rel='stylesheet')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons',
			rel='stylesheet')
		link(href='/css/styles.css',
			rel='stylesheet')

	body(ng-controller='MainCtrl', layout='row', ng-cloak)
		//- Sidebar
		md-sidenav.md-sidenav-left.md-whiteframe-z2#sidebar(layout='column',
			md-component-id='left')
			md-toolbar.md-tall.md-hue-3.md-whiteframe-z1
				#sitehead
					.md-title
						| Frank Yu
					.md-subhead
						| Personal Website
			md-list.md-dense(flex)
				md-list-item(ng-repeat='item in sideBar.menu',
					ng-if="!item.hide",
					ng-click='toggleLeftMenu()',
					href='{{item.link}}')
					md-item-content(md-ink-ripple, layout='row', layout-align='start center')
						.inset
							md-icon(md-font-library='material-icons')
								| {{item.icon}}
						.inset
							| {{item.title}}
				md-subheader Projects
				md-list-item(ng-repeat='item in sideBar.projects',
					ng-if="!item.hide",
					ng-click='toggleLeftMenu()',
					href='{{item.link}}')
					md-item-content(md-ink-ripple, layout='row', layout-align='start center')
						.inset
							md-icon(md-font-library='material-icons')
								| {{item.icon}}
						.inset
							| {{item.title}}
				md-subheader Additional Links
				md-list-item(ng-repeat='item in sideBar.additional',
					ng-if="!item.hide",
					ng-click='toggleLeftMenu()',
					href='{{item.link}}',
					target='_blank')
					md-item-content(md-ink-ripple, layout='row', layout-align='start center')
						.inset
							md-icon(md-font-library='material-icons')
								| {{item.icon}}
						.inset
							| {{item.title}}

		//- Main Page
		div(layout='column',layout-fill, roll='main')

			//- Toolbar
			md-toolbar.md-hue-1#banner(layout='row',
				md-whiteframe='1')
				.md-toolbar-tools
					md-button.md-icon-button.md-ink-ripple(ng-click='toggleLeftMenu()',
						aria-label='Menu')
						md-icon(md-font-library='material-icons')
							| menu
					h3.md-headline
						| {{ siteBannerTitle }}
					span(flex)
					md-button.md-icon-button.md-ink-ripple(ng-if='projectSourceCode',
						href='{{ projectSourceCode }}',
						target='_blank',
						aria-label='Source Code')
						md-icon(md-font-library='material-icons')
							| code
						md-tooltip
							| Source Code
			md-progress-linear(ng-if='loading')

			//- Main content
			md-content#main-content(ng-view, layout='row', flex)

		//- Loading JS files
		script(src='/js/lib/require.js', data-main='/js/config')